@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
<!-- <div class="jumbotron jumbotron-fluid"> -->
    <h1>DhanaShree Telecom</h1>
    <p class="lead">We sell Products and services for all type of your business needs.</p>
    <p><a href="https://www.savitritelecom.com/" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            Our products have been places in many famous companies like Vi, Airtel and also selected by several
            new startup companies.
        </p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>You may contact us and make it easy to add, remove, and update componencts and tools in your sites.</p>
        <p><a class="btn btn-default" href="/Home/Contact">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        @*btn purple-gradient btn-rounded mb-4*@
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867" >Learn more &raquo;</a>
 
    </div>
</div>